src/main/webapp/WEB-INF/wsdl/addrequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://nl.hu.iac/carservice/addrequest"
	xmlns:pow="http://nl.hu.iac/carservice/addrequest"
	elementFormDefault="qualified" targetNamespace="http://nl.hu.iac/carservice/addrequest">

	<!-- root element -->
	<xs:element name="addcarRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Merk" type="xs:string" />
				<xs:element name="Prijs" type="xs:double" />
				<xs:element name="Beschrijving" type="xs:string" />
			</xs:sequence>
		</xs:complexType>

	</xs:element>
</xs:schema>
